<div class ="complete-container">
<div class= "form-card">
    <table>
        <tr>
        <th>予約した部屋</th>
        <td><%= @name %></td>
        </tr>

        <tr>
        <th>開始日</th>
        <td><%= @start_date %></td>
        </tr>

        <tr>
        <th>開始日</th>
        <td><%= @end_date%></td>
        </tr>

        <tr>
        <th>価格</th>
        <td><%=  "#{@booking_price}円" %></td>
        </tr>

        </table>
 </div>
</div>