<h1>showページです</h1>
<div class ="show-container">
    <div class ="nav-container">
    <ul>
    <span>アカウント</span>
    <span>プロフィール</span>
    </ul>
    
    </div>
    <div class ="acount-container">
    


    </div>
</div>