<h3>"検索結果：%#{numbers}%件"</h3>

<% @rooms.each do |room| %>  
    <div class="room">
        <%= link_to room_path%>
            <div><img src= "" alt="ルーム画像です"></div>
            <div><%= room.name %></div>
            <div><%= room.address %></div>
            <div><%= room.price %></div>
    </div>
<% end %>
        
